<main>
    <div class="container-fluid" style="margin-top: 70px; ">
                    <form class="form-horizontal" [formGroup]="angForm" novalidate>
                            <div>
                                <br>
                             <h3>Fixed Deposit</h3>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="bankaddress">Bank Address</label>
                              <div class="col-sm-4">
                                <input type="text" class="form-control" name="bankaddress" formControlName="bankaddress" [(ngModel)]="bankaddress" placeholder="Bank Address">
                              </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="depositamount">Deposit Amount:</label>
                              <div class="col-sm-4">
                                <input type="number" class="form-control" name="depositamount" formControlName="depositamount" [(ngModel)]="depositamount" placeholder="Deposit Amount">
                              </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="periodinyrs">Enter Period(in yrs):</label>
                                <div class="col-sm-4">
                                  <input type="number" class="form-control" name="periodinyrs" formControlName="periodinyrs" [(ngModel)]="periodinyrs" placeholder="Enter Period(in yrs)">
                                </div>
                            </div>
                            
                            <div *ngIf="angForm.controls['bankaddress'].valid ">
                                <div *ngIf="angForm.controls['depositamount'].valid && angForm.controls['depositamount'].value > 0">
                                  <div *ngIf="angForm.controls['periodinyrs'].valid && angForm.controls['periodinyrs'].value > 0">
                                    <div class="form-group">
                                      <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" (click)='submit()'>Fixed Req</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
        
                          </form>


        <br>
        <center><h3>Bank details</h3></center>
        <!--Table-->
        <div class="scrollable" style="overflow-x:auto;overflow-y:auto;height:405px;background:white">
        <table class="table">

            <!--Table head-->
            <thead class="mdb-color darken-3">
                <tr class="text-white">
                    
                    <th>Bank Address</th>
                    <th>Bank Name</th>
                    <th>Balance</th>
                    <th>Fixed int</th>

                </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
                <tr *ngFor="let bank of All_bank1; let i = index">
                    <td>{{ bank.address }}</td>
                    <td>{{ bank.bank_name }}</td>
                    <td>{{ bank.Bal }}</td>
                    <td>{{ bank.Fix_dep_int }}</td>
                    

                </tr>
            </tbody>
            <!--Table body-->
        </table>
        </div>
<!--Table-->

    </div>
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    loadingText="Loading..."
    type="ball-scale-multiple">
  </ngx-spinner>

</main>


