<html>
  <br><br><br><br>
    <head>
        <title>Ethereum Account Connectivity Error Page</title>
    </head>
    <body>
         <img src="./assets/metamask_logo.png"/> 
        <!-- <center> -->
            <p>
                <br>There was an error while fetching your account.
                <br>Make sure your Ethereum client is configured correctly

                <br>Tips:
                <br>Ensure you unlocked your MetaMask plugin.
                <br>If you don't have MetaMask plugin install here: 
                <br><a href ="https://metamask.io/ ">https://metamask.io/</a>
            </p>
        <!-- </center> -->
    </body>
</html>