table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


// thead {
// 	background:#f9f9f9;
// 	display:table;
// 	width:100%;
	
// }

// tbody {
// 	height:300px;
// 	overflow:auto;
// 	overflow-x:hidden;
// 	display:block;
// 	width:100%;
// }
// tbody tr {
// 	display:table;
// 	width:100%;
// 	table-layout:fixed;
// }

