<main>
  <div class="container-fluid" style="margin-top: 70px; ">
          
              <form class="form-horizontal" [formGroup]="angForm" novalidate>
                <div>
                  <br>
                 <h3> User Request Withdraw</h3>
                </div>
                <div class="form-group">
                      <label class="control-label col-sm-2"  for="fix_id">Enter the Fixed Dep. ID</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" type="number" name="fix_id" formControlName="fix_id" [(ngModel)]="fix_id" placeholder="Fixed Dep. ID">
                      </div>
                    </div>                     


                    <div *ngIf="angForm.controls['fix_id'].valid && angForm.controls['fix_id'].value >= 0 ">
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-default" (click)="submit()" >Submit</button>
                        </div>
                      </div>
                    </div>
              </form>
          
          
             
              
          
        
              <br>
                  <center> 
                    <h2>My Deposit Details</h2>
                    <p><b style="color:red">Note :</b> If you withdraw within time period, You will get only 99% of your Deposited Ether and Penality is 1%. </p>
                  </center>

<!--Table-->
<div class="scrollable" style="overflow-x:auto;overflow-y:auto;height:600px;background:white">
    <table class="table">
    
      <!--Table head-->
      <thead class="mdb-color darken-3">
          <tr class="text-white">
              
              <th>Fix_Dep. ID</th>
              <th>Bank Address</th>
              <th>Total Amount</th>
              <th>End Time</th>
              <th>Year</th>
              <th>Status</th>
          </tr>
      </thead>
      <!--Table head-->
    
      <tbody>
              <tr *ngFor="let bank of fix_dep; let i = index">
                <td>{{ bank.id }}</td>
                <td>{{ bank.bank_add }}</td>
                <td>{{ bank.amt }}</td>
                <td>{{ bank.End_time }}</td>
                <td>{{ bank.year }}</td>
                <td>{{ bank.status }}</td>
      
              </tr>
            </tbody>
    </table>
<!--Table-->

  </div>
</div>  

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
loadingText="Loading..."
type="ball-scale-multiple">
</ngx-spinner>

</main>
