<!--<form >
  <p class="h5 text-center mb-4">Sign in</p>

  <div class="md-form">
    <i class="fa fa-envelope prefix grey-text"></i>
    <input type="text" formControlName="defaultFormEmail" id="defaultForm-email" class="form-control" mdbInputDirective>
    <label for="defaultForm-email">Your email</label>
  </div>

  <div class="md-form">
    <i class="fa fa-lock prefix grey-text"></i>
    <input type="password" formControlName="defaultFormPass" id="defaultForm-pass" class="form-control" mdbInputDirective>
    <label for="defaultForm-pass">Your password</label>
  </div>

  <div class="text-center">
    <input type="submit" class="btn btn-default waves-light" mdbWavesEffect value="Login">
  </div>
</form>-->
<main>
  <div class="container-fluid" style="margin-top: 70px; ">

          <div class>
              <form class="form-horizontal" [formGroup]="angForm" novalidate >
                <div>
                 <h3>Bank Register Form</h3>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="productname">Bank Name:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="_bankname" [(ngModel)]="bankname" formControlName="_bankname" placeholder="Enter Bank Name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="quantity">Loan Interst (Only in 1 to 100)</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" name="_lnint" [(ngModel)]="lnint" formControlName="_lnint" placeholder="Enter ln int">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="brand">Fixed Deposit Interst (Only in 1 to 100)</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="_fdint"  [(ngModel)]="fdint" formControlName="_fdint" placeholder="Enter Fd Interst">
                  </div>
                </div>
                
                <div *ngIf="angForm.controls['_bankname'].valid ">
                  <div *ngIf="angForm.controls['_lnint'].valid && angForm.controls['_lnint'].value > 0 && angForm.controls['_lnint'].value <= 100">
                    <div *ngIf="angForm.controls['_fdint'].valid && angForm.controls['_fdint'].value > 0 && angForm.controls['_fdint'].value <= 100">
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-default" (click)="submit()" >Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                
              </form>
          </div>
      </div>


        <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  loadingText="Loading..."
  type="ball-scale-multiple">
</ngx-spinner>
  </main>
